.admin-btn-edit:hover{
    color:#12a862;
 }
 .admin-btn-delete:hover{
    color:#e42343;
 }
 #backtotop {
    display:none;
    position:fixed;
    z-index:1000;
    bottom:10%;
    right:2%;
    font-size:17px;
    border:none;
    width:50px;
    height:50px;
    cursor:pointer;
    box-shadow:2px 3px 6px rgba(0,0,0,0.30);
    border-radius:100px;
    background:rgb(121,113,234);
    color:white;
  }