html{
    scroll-behavior: smooth;
}
.category-banner-img{
    min-height:350px;
}

.form-usecase-popup{
    margin-top:50px;
}

.btn-link{
    border:none;
    background:none;
    color:#868995;
    outline:none;
    cursor:pointer;
}
.btn-link:hover{
    color:#7971ea;
}

.pagination-btn{
    background:#fff;
    color:#7971ea;
    cursor:pointer;
    margin:0 0 0 3px;
    transition:0.3s;
}
.pagination-btn:hover{
    background:#7971ea;
    color:#fff;
}
.pagination-btn:last-child{
    margin-right:3px;
}
.pagination-active{
    background:#7971ea;
    color:#fff;
}
