html{
    scroll-behavior: smooth;
}
.category-banner-img{
    min-height:350px;
}

.form-usecase-popup{
    margin-top:50px;
}

.btn-link{
    border:none;
    background:none;
    color:#868995;
    outline:none;
    cursor:pointer;
}
.btn-link:hover{
    color:#7971ea;
}

.pagination-btn{
    background:#fff;
    color:#7971ea;
    cursor:pointer;
    margin:0 0 0 3px;
    transition:0.3s;
    border:1px solid #ccc;
    border-radius:50%;
    width:40px;
    height:40px;
    outline:none;
}
.pagination-btn:hover{
    background:#7971ea;
    color:#fff;
}
.pagination-btn:last-child{
    margin-right:3px;
}
.pagination-active{
    background:#7971ea;
    color:#fff;
}


.pagination-search-btn{
    background:#fff;
    color:#7971ea;
    cursor:pointer;
    margin:0 0 0 3px;
    transition:0.3s;
    border:1px solid #ccc;
    border-radius:50%;
    width:40px;
    height:40px;
    outline:none;
}
.pagination-search-btn:hover{
    background:#7971ea;
    color:#fff;
}
.pagination-search-btn:last-child{
    margin-right:3px;
}
.pagination-search-active{
    background:#7971ea;
    color:#fff;
}


/*FOR SHOP PAGE*/
.category-btn{
    border-radius:6px;
    padding:10px 12px;
    border:none;
    width:100%;
    background:#7971ea;
    box-shadow:0px 5px 0px #3d35b2; 
    margin-bottom:15px;
    color:#f4f4f4;
    outline:none;
}
.category-btn:hover{
    background:#918bef;
}
.category-btn:active{
    transform:translate(0,3px);
    box-shadow:0px 1px 0px #3d35b2; 
}


.img-card figure img{
    min-height:250px;
    max-height:250px;
}

.img-card{
    color:#dddddd;
}

.img-card-name{
    height:70px;
}

.img-card-name h3 a{
    font-size:16px;
}

.img-card-price{
    font-size:18px;
}

.zom-out-in{
    animation-name:inflated;
    animation-duration:3s;
}

@keyframes inflated{
    0%   {width:26px;height:26px;}
    10%   {width:28px;height:28px;}
    20%   {width:30px;height:30px;}
    30%   {width:32px;height:32px;}
    40%   {width:34px;height:34px;}
    50%   {width:34px;height:34px;}
    60%   {width:32px;height:32px;}
    75%  {width:30px;height:30px;}
    80%  {width:28px;height:28px;}
    90% {width:26px;height:26px;}
    100% {width:24px;height:24px;}
}


.color-btn{
    border-radius:6px;
    padding:2px 5px;
    border:none;
    width:100%;
    margin-bottom:15px;
    color:#f4f4f4;
    outline:none;
    transition:0.3s;
}

.color-btn:active{
    transform:translate(5px,0);
}

.select-box{
    border-radius:3px;
    border:1px solid #ced4da;
    color:#7a7c7e;
    padding:8px 10px;
    outline:none;
}

 /*payment-page*/
 .panel-title {display: inline;font-weight: bold;}
 .checkbox.pull-right { margin: 0; }
 .pl-ziro { padding-left: 0px; }
 
 
 
 .one-card > div {
   height: 150px;
   background-position: center center;
   background-repeat: no-repeat;
 }
 .visa-mc-cvc-preview {
   background-image:url(../images/payment_page/securitycode.jpg);
 
 }
 
 
 .span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
   content: "";
   display: inline-block;
   background: #fff;
   width: 0;
   height: 0.2rem;
   position: absolute;
   transform-origin: 0% 0%;
 }
 
 .chiller_cb {
   position: relative;
   height: 2rem;
   display: flex;
   align-items: center;
 }
 .chiller_cb input {
   display: none;
 }
 .chiller_cb input:checked ~ span {
   background: #7971ea;
   border-color: #7971ea;
 }
 .chiller_cb input:checked ~ span:before {
   width: 1rem;
   height: 0.15rem;
   transition: width 0.1s;
   transition-delay: 0.3s;
 }
 .chiller_cb input:checked ~ span:after {
   width: 0.4rem;
   height: 0.15rem;
   transition: width 0.1s;
   transition-delay: 0.2s;
 }
 
 .chiller_cb label {
   padding-left: 2rem;
   position: relative;
   z-index: 2;
   cursor: pointer;
   margin-bottom:0;
 }
 .chiller_cb span {
   display: inline-block;
   width: 1.2rem;
   height: 1.2rem;
   border: 2px solid #ccc;
   position: absolute;
   left: 0;
   transition: all 0.2s;
   z-index: 1;
   box-sizing: content-box;
 }
 .chiller_cb span:before {
   transform: rotate(-55deg);
   top: 1rem;
   left: 0.37rem;
 }
 .chiller_cb span:after {
   transform: rotate(35deg);
   bottom: 0.35rem;
   left: 0.2rem;
 }
 
 .cc-selector input{
   margin:0;padding:0;
   -webkit-appearance:none;
      -moz-appearance:none;
           appearance:none;
 }
 .agribank{background-image:url(../images/banks-images/agribank.jpg);}
 .acb{background-image:url(../images/banks-images/acb.jpg);}
 .techcombank{background-image:url(../images/banks-images/techcombank.jpg);}
 .vietinbank{background-image:url(../images/banks-images/vietinbank.jpg);}
 .oceanbank{background-image:url(../images/banks-images/oceanbank.jpg);}
 
 .cc-selector input:active +.drinkcard-cc{opacity: .9;}
 .cc-selector input:checked +.drinkcard-cc{
   -webkit-filter: none;
      -moz-filter: none;
           filter: none;
 }
 .drinkcard-cc{
   cursor:pointer;
   background-size:contain;
   background-repeat:no-repeat;
   display:inline-block;
   width:150px;
   height:120px;
   -webkit-transition: all 100ms ease-in;
      -moz-transition: all 100ms ease-in;
           transition: all 100ms ease-in;
   -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
      -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
           filter: brightness(1.8) grayscale(1) opacity(.7);
 }
 .drinkcard-cc:hover{
   -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
      -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
           filter: brightness(1.2) grayscale(.5) opacity(.9);
 }

 #backtotop {
    display:none;
    position:fixed;
    z-index:1000;
    bottom:10%;
    right:2%;
    font-size:17px;
    border:none;
    width:50px;
    height:50px;
    cursor:pointer;
    box-shadow:2px 3px 6px rgba(0,0,0,0.30);
    border-radius:100px;
    background:rgb(121,113,234);
    color:white;
  }